* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
body {
  background: linear-gradient(-90deg, #4b4b4b, #3a3a3a, #2b2b2b, #1d1d1d, #0f0f0f);
  -webkit-animation: gradient 10s ease infinite;
	        animation: gradient 10s ease infinite;
          justify-content: center;
          align-items: center;
   background-size: 400% 400%;
  
}

.hi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 45vh;
}

h1, h2, h3, h4, h5, i, img {
  padding-top: 10px;
  color: white;
  opacity: 0;
  animation: fadein 2s forwards;
}
  
h2 {
  margin-top: 45vh;
  margin-bottom: 50vh;
}
h3 {
  margin-top: 45vh;
  margin-bottom: 45vh;
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: fadein 2s forwards;
  
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
  img {
    width: 450px;
  }
}



@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

